{% extends 'base.html.twig' %}

{% block title %}My Shop{% endblock %}

{% block body %}

<body style="background-color: #FCF8F9;">
    <main style="margin-left:5%;margin-right: 5%;" >
        <h2  style="text-align: center"> nous avons  {{ nbArticle }} articles</h2>
        <div class="contenair" style="margin:3%;margin-top: 5%;display: flex;flex-wrap: wrap;justify-content: space-between;">
            {% for e in Article %}
                <div class="article" >

                    <h3 >{{ e.nom }}</h3>
                    <img class="imgArticle" style="height: 250px;width: 100%"  src="{{ asset('images/enfants/fille/')}}{{ e.image }}" alt="{{ e.nom }}">
                    <p  class="texte"> <a style="color:gray" href="{{ path('panier2',{'id':e.id}) }}"><span class="icon-cart"></span></a></p>
                    <section style="display: flex;flex-direction: row;justify-content: space-between;">
                        <p>{{ e.prix}}€</p>
                        <a style="color: #555555; font-size: 23px;margin-top: 3%"  href="{{ path('wish_list_add',{'id':e.id})}}"><span class="icon-heart"></span></a>
                    </section>

                </div>
            {% endfor %}
        </div>




    </main>
</body>
{% endblock %}
